body{
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    padding:0 0 0 0; 
    margin: 0 0 0 0; 
    background-image:url(./pics/wallpaper.jpg);
}

ul{
    list-style-type:none;
    margin:0;
    padding:0;   
    background-color:#f1f1f1;
    overflow:hidden;
    width:100%;
   
}

li{
    float:left;
}

li a{
    display:block;
    color:black;
    padding:14px 16px;
    text-decoration: none;
    text-align: center;
}

li a.active {
    background-color:white;
    color:black;
}

li a:hover:not(.active){
    background-color:white;
    color:black;
}

#aboutdiv{
    margin:0 auto;
    text-align: center;
}

#wrapper{
   
}

#thermolink{
    text-decoration: none;
    color:white;
}

#thermolink:hover{
    color:#f1f1f1;
}

